<div *ngIf="uiStoreQuery.loginModal$ | async" class="modal">
  <div class="modal-container">
    <div class="modal-content">
      <div *ngIf="sessionStoreQuery.isLoggedIn$ | async; else userCredentials">
        <div class="modal-header">
          <h3>Seleccione liga</h3>
        </div>
        <div class="modal-body">
          <app-league-selector></app-league-selector>
          <div class="grid mt-8 w-full">
            <button (click)="sessionStore.reset()" class="button">Volver</button>
          </div>
        </div>
      </div>
      <ng-template #userCredentials>
        <div class="modal-header">
          <h3>Inicio de sesión</h3>
        </div>
        <div class="modal-body">
          <app-login-form></app-login-form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="uiStoreQuery.loginModal$ | async" class="modal-backdrop"></div>
