<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="grid gap-3">
  <div class="grid">
    <input type="text" formControlName="username" placeholder="usuario o email" class="form-field" />
    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
      <small *ngIf="username?.errors?.required" class="text-red-500 text-xs">Campo requerido</small>
    </div>
  </div>
  <div class="grid">
    <input type="password" formControlName="password" placeholder="contraseña" class="form-field" />
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <small *ngIf="password?.errors?.required" class="text-red-500 text-xs">Campo requerido</small>
    </div>
  </div>

  <div class="grid mt-8 w-full">
    <button type="submit" [disabled]="!loginForm.valid" class="button">Acceder</button>
  </div>
</form>
