<div class="grid gap-5">
  <div class="grid gap-3">
    <select name="seasons" [formControl]="seasonValue" class="form-field">
      <option disabled>Seleccione temporada</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
    <input type="text" placeholder="Filtrar" class="form-field" [formControl]="filterValue" />
  </div>
  <div *ngIf="leagues.length !== 0" class="h-72 overflow-y-auto grid gap-3 shadow-inner p-2 rounded">
    <div class="grid gap-3">
      <div *ngFor="let league of leagues">
        <app-league-selector-card [league]="league"></app-league-selector-card>
      </div>
    </div>
  </div>
</div>
